button{
    height: 20px;
    width: 30px;
    margin: 1px;
}
#btnclear{
    column-span: 3;
    width: 138px;
}

#result{
    border: gray outset 5px;
    background-color: cadetblue;
    overflow: hidden;
    width: 138px;
}