button{
    height: 20px;
    width: 30px;
    margin: 1px;
}

#btnclear{
    column-span: 3;
    width: 138px;
}

#screen{
    border: gray outset 2px;
    background-color: gray;
    overflow: hidden;
    width: 134px;
    height: 37px;
}

.calculator{
    padding-left: 10px;
    padding-bottom: 10px;
    margin: auto;
    border: gray outset 5px;
    background-color: lightgray;
    border-radius: 3px;
    width: 150px;
}

#led{
    border: black solid 1px;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    margin: 2px;
    margin-bottom: -20px;
    background-color: red;
}

.leds{
    display: flex;
    margin: 1px;
    
}

#interruptor{
    width: 40px;
    height: 20px;
    margin-left: auto; 
}

#result{
    visibility: hidden;
}